build
.venv*
.*cache
CMakeUserPresets.json
*.pdf
*.png
*.svg
!scripts/docs/**/*.svg
hyh*.json
ocp*.json
conan-recipes
__pycache__
dist
python/hyhound/_hyhound.pyi
*.cross.profile
*.cross.pbc
*.local.pbc
